1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

In [21]:
def arithmetic_operation(string):
    '''This function applies arithmetic operation on numbers and performs operation based on the operator'''
    num1,operator,num2 = string.split()
    try:
        if operator == '+':
            return int(num1)+int(num2)
        elif operator == '-':
            return int(num1)-int(num2)
        elif operator == '*':
            return int(num1)*int(num2)
        elif operator == '//':
            if int(num2) == 0:
                return -1
            return int(num1)//int(num2)
    except Exception as e:
        return e

In [22]:
arithmetic_operation("12 + 12")

24

In [23]:
arithmetic_operation("12 - 12")

0

In [24]:
arithmetic_operation("12 * 12")

144

In [25]:
arithmetic_operation("12 // 12")

1

In [26]:
arithmetic_operation("12 // 0")

-1

### 2

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

In [9]:
from math import sqrt

In [18]:
def perimeter(l):
    '''This function returns the perimeter of a triangle'''
    p = sqrt((l[1][0]-l[0][0])**2+(l[1][1]-l[0][1])**2)+sqrt((l[1][0]-l[2][0])**2+(l[1][1]-l[2][1])**2)+sqrt((l[0][0]-l[2][0])**2+(l[2][1]-l[0][1])**2)
    return p

In [19]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [20]:

perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [21]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

### 3

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [6]:
def tallest_skyscraper(l):
    ''' This Function  takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.'''
    l = np.array(l)
    l = l.T
    l = l.tolist()
    return max([i.count(1) for i in l])

In [1]:
import numpy as np

In [7]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

3

In [9]:
tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

4

In [8]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

### 4

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [29]:
def bonus(billable_days):
    '''This function reads the billable days of an employee
    and return the bonus he/she has obtained in that quarter.'''
    if billable_days <=32:
        return 0
    elif billable_days <=40:
        return (billable_days-32)*325
    elif billable_days <= 48:
        return (billable_days-40)*550 +8*325
    else:
        return 8*325+8*550+(billable_days-48)*600

In [30]:
bonus(15)

0

In [31]:
bonus(37)

1625

In [32]:
bonus(50)

8200

In [33]:
bonus(45)

5350

### 5

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [69]:
def is_disarium(number):
    '''This function determines whether a number is a Disarium or not.'''
    l = list(str(number))
    l = [int(i) for i in l]
    l.insert(0,0)
    sum_of_powers = 0
    for i in range(1,len(l)):
        sum_of_powers += l[i]**i
    if sum_of_powers == int(''.join(str(i) for i in l)):
        return True
    return False

In [70]:
is_disarium(544)

False

In [71]:
is_disarium(518)

True

In [73]:
is_disarium(8)

True

In [74]:
is_disarium(466)

False

In [75]:
is_disarium(135)

True

In [36]:
n = 135
l =list(str(n))

In [57]:
l =[1,3,5]

In [48]:
l.insert(0,1)

In [59]:
l

[1, 3, 5]