1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

### * is expression

###  'hello' is value

### -87.8 is value

### - is expression

### / is expression

### + is expression

2. What is the difference between string and variable?

### String is a sequence of characters where as variable is a data container where data of different data types is stored.

3. Describe three different data types

### Str – sequence of characters
### Int – integer values
### Float – decimal values

4. What is an expression made up of? What do all expressions do?

### Expressions are mathematical operators used to make mathematical operations on given data types

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Statements are used to assign values to a variable where as expressions are used to perform operations on top of assigned variables

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon +1
print(bacon) # will be 22 only

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
print('spam'*3,'spam'+'spamspam')

spamspamspam spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

### Since there is particular  convection to name variable and you cannot use numericals to name a variable.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

###  int(),str(),float()

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

### Since you are adding two different data types we need to use str(99)

In [6]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.